.sapper-container {
    position: fixed;
    right: 10px;
    top: 278px;
    height: 50px;
    width: 40px;
    z-index: 10002;
    _position:absolute;
}

.sapper-container a, .sapper-container a :hover {
    text-decoration: none;
}

.sapper-icowrap {
    height: 48px;
    width: 38px;
    cursor: pointer;
    border: 1px solid #eee;
    background-color: #fff;
}

.sapper-ico {
    position: absolute;
    top: 17px;
    right: 12px;
    height: 20px;
    width: 16px;
    line-height: 20px;
    background: url('http://gtms03.alicdn.com/tps/i3/T1Q5mNFkpXXXXt8j_X-16-20.png') no-repeat 0px 0px;
    display: none;
    z-index: 100001;
}

.sapper-container  .sapper-ico {
    z-index: 3;
    display: block;
}

.sapper-des {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    padding-right: 25px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    cursor: pointer;
    color: #6c6c6c;
    text-align: center;
    z-index: 2;
    display: none;
}

.sapper-container  .hidden {
    display: none;
}

.sapper-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 345px;
    height: 36px;
    padding: 4px 0 8px 8px;
    border: 1px solid #cfcfcf;
    background-color: #eeefef;
    margin: 0;
    z-index: 4;
    cursor: default;
    overflow: hidden;
}
.sapper-unvisibility{
    visibility: hidden;
}
.sapper-down, .sapper-up, .sapper-close {
    text-decoration: none;
    position: absolute;
    top:4px;
    width: 32px;
    height: 38px;
    line-height: 38px;
    margin: 0px;
    background: url('http://gtms01.alicdn.com/tps/i1/T1oQ1NFdRcXXc1MEEf-102-120.png') no-repeat 5px -5px;
}

.sapper-down {
    left:253px;
    background-position: -4px -39px;
}

.sapper-down:hover {
    background-position: -5px -79px;
}

.sapper-noresult .sapper-down, .sapper-noresult .sapper-down:hover, .sapper-nodownresult, .sapper-nodownresult:hover {
    cursor: default;
    background-position: -4px 0px;
}

.sapper-up {
    left:284px;
    background-position: -34px -39px;
}

.sapper-up:hover {
    background-position: -35px -79px;
}

.sapper-noresult .sapper-up, .sapper-noresult .sapper-up:hover, .sapper-noupresult, .sapper-noupresult:hover {
    cursor: default;
    background-position: -35px 0px;
}

.sapper-close {
    position: absolute;
    width: 30px;
    height: 36px;
    right: 6px;
    top: 6px;
    background-position: -68px -41px;
}

.sapper-close:hover {
    background-position: -69px -81px;
}

.sapper-numbers {
    color: #CCCCCC;
    background-color: #fff;
    height: 32px;
    left: 140px;
    line-height: 32px;
    position: absolute;
    top: 8px;
    width: 100px;
    text-align: right;
}

.sapper-input {
    padding: 10px 0 10px 5px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #e8e8e8;
    width: 240px;
    outline: none;
    background-color: #fff;
    position: absolute;
    top:6px;
    left:6px;
}

.sapper-input:focus {
    border-color: #9dc3e7;
}

.sapper-href,sapper-href:hover{
    background-color: #ffff00 !important;
    color: #999 !important;
}

.sapper-href-now ,.sapper-href-now:hover{
    background-color: red !important;
    color: #fff !important;
    border-radius: 3px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-ms-keyframes pulse {
    0% {
        -ms-transform: scale(1);
    }
    50% {
        -ms-transform: scale(1.2);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1);
    }
    50% {
        -o-transform: scale(1.2);
    }
    100% {
        -o-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.sapper-href-focus {
    -webkit-animation: 0.5s ease;
    -moz-animation: 0.5s ease;
    -ms-animation: 0.5s ease;
    -o-animation: 0.5s ease;
    animation: 1s ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -ms-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
    background-color: red !important;
    color: #fff !important;
    z-index: 10001;
    position: absolute;
    visibility: visible;
}

@-webkit-keyframes rollOut {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0px) rotate(0deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(100%) rotate(120deg);
    }
}

@-moz-keyframes rollOut {
    0% {
        opacity: 1;
        -moz-transform: translateX(0px) rotate(0deg);
    }

    100% {
        opacity: 0;
        -moz-transform: translateX(100%) rotate(120deg);
    }
}

@-ms-keyframes rollOut {
    0% {
        opacity: 1;
        -ms-transform: translateX(0px) rotate(0deg);
    }

    100% {
        opacity: 0;
        -ms-transform: translateX(100%) rotate(120deg);
    }
}

@-o-keyframes rollOut {
    0% {
        opacity: 1;
        -o-transform: translateX(0px) rotate(0deg);
    }

    100% {
        opacity: 0;
        -o-transform: translateX(100%) rotate(120deg);
    }
}

@keyframes rollOut {
    0% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
    }
}